
.contact_title{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
}




.info_content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content{
  font-size: 13px;
  align-self: center;
}

.spacer{
  padding: 30px;
}
.contact_item{
  background-color: white;
  width: 100px;
  text-align: -webkit-center;
  display: inline-table;
  padding: 30px;

  padding-top: 10%;
}

.contact_content:hover{
  transition-duration: 1s;
    background-color: #818181;

    .list-item_contact i{
      transition-duration: 1.5s;
      color: white;
    }
}



.contact_info{
    text-align: center;
    min-height: 50vh;
}

.menu{
  text-align: center;
  min-height: 50vh;
}

.menu_contact{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
}


.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}



.content-title{
  font-family: 'freightsans_regular',sans-serif;
  font-weight: bold;
  color: #818181;
}


.contact_content{
  display: flex;
  padding: 20px;
  border-radius: 70px;
  width: 90px;
  transform: scale(1.1);
  justify-content: center;
  background-color: white;
  border: 2px solid #818181;
}


.list-item_contact{
  list-style: none;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.list-item_contact i{
  color: #818181;
  transform: scale(1.5) translateX(1px)  translateY(-3px);

}




@media screen and (max-width : 818px){
    .content{
      padding: 0;
    }
}
