.menu{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
	margin: 0 auto;

  opacity: 0;
  animation: 1s fadein 0.3s forwards;
}


.list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 25px;
}



@media (max-width: 820px) {

  .list-item{
    background-color: red;
    height: 100px;
    width: 100px;
  }

  .list-item i{
    color: white;
    font-size: 35px;
  }
}



li.list-item{
 transform: translateX(20px);
}



.acc-item{
  text-align: center;
  font-weight: bold;

}

/* @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  @media screen {
      .hamburger.hamburger--spin{
          background-color: white;
           -webkit-appearance: none;
        }
}} */



.acc-item:hover{
  transition: 0.2s ease-in;
  transform: scale(1.05);
}

.list-item:hover{

}

section.about >  div > ul > div:nth-child(1) > a > li{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 86%);
}

section.about >  div > ul > div:nth-child(2) > a > li{
   background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(4,112,189,1) 86%);
}

section.about >  div > ul > div:nth-child(3) > a > li{
    background: linear-gradient(90deg, rgba(4,112,189,1) 0%, rgba(2,165,224,1) 50%);
}

section.about > div > ul > div:nth-child(4) > a > li{
   background: linear-gradient(90deg, rgba(2,165,224,1) 0%, rgba(0,212,255,1) 50%);
}





.list-item:hover{
  transition: 0.5s linear;
  background-color: blue;
  cursor: pointer;
}


.content{
  color: #616161;
}

.content-title{
  margin-bottom: 0;
  padding-bottom: 0px;
}

.content-desc{
  padding-top: 0;
  font-weight: normal;
  font-size: 13px;
}





@media (min-width: 845px) {
  .list-item i{
    color: white;
    font-size: 55px;
  }
}



@media (max-width: 845px) {
  .menu{
     display: inline-grid;
     padding: 0;
  }

  .acc-item{
    display: flex;
    padding: 20px;
    border: 0.5px solid black;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 4px 2px 5px 2px rgba(0,0,0,0.16);
  }
   .content{
    padding-left: 100px;
    text-align: center;
  }
  .accomplishments{
    text-align: center;
  }
  .acc-item:hover{
    transition: 0.5s linear;

  }

  section:nth-child(2) > p > div > ul > div:nth-child(1) > li{
   background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 86%);
  }


  section:nth-child(2) > p > div > ul > div:nth-child(2) > li{
    background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgba(4,112,189,1) 86%);
  }

  section:nth-child(2) > p > div > ul > div:nth-child(3) > li{
     background: linear-gradient(180deg, rgba(4,112,189,1) 0%, rgba(2,165,224,1) 50%);
  }

  section:nth-child(2) > p > div > ul > div:nth-child(4) > li{
    background: linear-gradient(180deg, rgba(2,165,224,1) 0%, rgba(0,212,255,1) 50%);
  }




}






@media only screen and (max-width: 845px) and (min-width: 820px){
  .menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

  }
  .content {
    padding-left:0;
    text-align: center;
    transform: translateX(10px);
}

}


@media only screen and (max-width: 845px){
  .lnk{
    display: contents;
  }

}







/* ANIMATIONS */


ul > div:nth-child(1){
  animation: 0.25s fadein 0.3s forwards;
  opacity: 0;
}

ul > div:nth-child(2){
  animation: 1s fadein 0.3s forwards;
  opacity: 0;
}

ul > div:nth-child(3){
  animation: 1.5s fadein 0.3s forwards;
  opacity: 0;
}

ul > div:nth-child(4){
  animation: 2s fadein 0.3s forwards;
  opacity: 0;
}



@keyframes fadein {
  100%{
    margin-top: 0px;
    opacity: 1;
  }
}



/*
/*
845-820 make it so two are there
1180-1100 text is off

/* */
