.container{
  padding: 30px;
}


section{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  height: 100%;
  margin-bottom: 15px;
}

h4{
  font-weight: bold;
}


p{
  padding: 15px;
}




@media screen and (max-width: 600px) {
  .container{
    padding: 5px;
  }
}
