
.customModal {
  max-width: 600px;
  width: 90%;
  height: 400px;
  margin:15px;
  border-radius: 30px;
  bottom: 0;
}

.customOverlay {
  // background-color: red;
  width: 150%;
  height: 150vh;
  transform: translateX(-25px);
  position:fixed;


 position: fixed;
 transform: translateX(-22px);
 width: 111.5vw;
 height: 250vw;
 text-align: center;
 // z-index: 1;


}

.modal_desc{

}

.container_modal{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 630px) {
  .customModal {
      // position: fixed;
      margin: auto 0;
      width: 95%;
  }
}



.container_modal h3{
  margin: 0;
}

.title_modal{
  font-size: 30px;
  line-height: 30pt;
  font-weight: bold;
  color: black;
  padding: 0;
  outline: none;
}


.desc-title:hover{
  transition-duration: 1s;
  transform: scale(1.1);
}

.stl{
  color: black;
  padding: 0;
  color: #c0c0c0;
  font-weight: bold;
  padding: 0;
  margin-bottom: auto;
  transform: translateY(60px);
  margin-top: 10px;

}

.modal_lang{
  text-align: center;
  padding-top: 0;
  transform: translateY(50px);
}

.modal_lang h4{
  margin-bottom: 0;
}

.individual_lang{
  margin: 10px;
}

.icon-list{
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  font-family: var(--ff-secondary);
}


.github_modal{
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.github_modal a:hover{
  transition-duration: 0.4s;
  transform: scale(1.1);
  // opacity: 0.5;
}

.github_modal a{
  padding: 5px;
}


.react-responsive-modal-closeButton{

}
