
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   min-width: 400px;
   color: #63707E;
   /* background-color: red; */
   background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(153,185,251,0.09147408963585435) 100%);
}



@media screen and (max-width: 540px) {
  body{
    padding: 15px;
  }
}




@media screen and (min-width: 1100px) {
  body{
    padding: 0 15% 0 15%;
  }
}
