.move_up{
  transform: translateY(-10%);
}


.about_content{
  // min-height: 200px;
}

.extra-stuff{
  transform: translateY(-50vh);
}


.about_title{
 text-transform: uppercase;
}

.lang{
   transform: scale(0.8) translateY(-10%);
}



.school{
  transform: translateY(-20%);
}



@media only screen and (max-width: 685px) {
  .about_title{
    padding-top: 40px;
  }
  .move_up{
    transform: translateY(0%);
  }
  .extra-stuff{
    transform: translateY(-30vh) !important;
  }
}




// mobile
@media only screen and (max-width: 1260px)   {
  .about_title{
    padding-top: 40px;
  }
  .school{
    transform: translateY(-25vh);
  }
  .extra-stuff{
    transform: translateY(-30vh);
  }
  .extra-stuff{
    transform: translateY(-40vh);
  }
}




@media only screen and (max-width: 1260px) and (min-width: 700px)  {
  .school{
    transform: translateY(-15%);
  }

  .about_title{
    padding-top: 40px;
  }
  .extra-stuff{
    transform: translateY(-40vh);
  }

}
