
.langs{
  display: flex;
  justify-content:center;
  text-align: center;
}


.each_tool{
  font-size: 25px;
  margin: 1%;
  text-align: -webkit-center;
}

.each_tool:hover{
    .fab{
      transition-duration: 0.5s;
      color: black;
      transform: scale(1.1);
  }
  .tf{
    transition-duration: 0.5s;
    color: black;
    transform: scale(1.1);
  }
}



.langs_desc{
  padding: 0;
  text-align: center;
  margin: 40px;
}


.extra-stuff{
    // transform: translateY(-100px);
    // background-color: red;
}




.ll{
  // to line up the icons that are pics
    transform: translateY(-6px);
}



// REDUX ICON
.iconify{
  color: darkred;
  font-size: 2.9em;
}

.sm{
  font-size: 2.7em;
  transform: translateY(5px);
}


.tf{
  // tensor flow
  background-color: transparent;
  color: red;
  box-shadow: none;
  height: 3em;
  transform: scale(1);
  filter: invert(7%) sepia(82%) saturate(7434%) hue-rotate(4deg) brightness(79%) contrast(108%);
}


#language > div > div:nth-child(5) > div > div > div:nth-child(2) > svg > path:nth-child(1){
  fill: darkred;
}



.langs i{
  color: darkred;
}

.lang_title{
  text-align: center;
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  padding-top: 0;
  text-transform: uppercase;
}


.lang_section{
  font-family: var(--ff-secondary);
  margin: 20px;
}


@media only screen and (max-width: 670px)   {

  .langs p{
    font-size: 18px;
    margin: 0;
  }
  .lang_title{
    font-size: 20px;
  }

  .each_tool{
    margin: 4%;
  }
}




















// EXtra stuff

.extra-stuff{
  height: 100%;
  padding-bottom: 20vh;
}

.extra_content{
  padding-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.16);
}

.extra_content div{
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}


.extra_name{
  font-size: 14px;
  font-weight: bold;
  margin: 10px;

}

.extra_name a{
  color: darkred;
  margin: 10px;

}

.extra_name:hover{
  transition-duration: 1s;
  transform: scale(1.2);
}
