.desc-title{
  transform: translateY(-50px);
  font-weight: bold;
  color: black;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.learn_btn{
  border: 2px solid #166484;
  width: 50%;
  display: inline;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
}

.learn_btn:hover{
  cursor: pointer;
  // transition-duration: 2s;

}

.desc{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transform: translateY(300px);
}

.desc-learn{
  display: block;
}

.desc-learn{
    transform: translateY(300px);
    text-align: center;
}

.project-desc{
  background-color: #F5F5F5;
  margin: 10px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  position: sticky;
  opacity: 0;

  animation: 1s fadein 0.3s forwards;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 2fr));
}


.pic{
  border-radius: 0;
  height: auto;
  width: auto;
  transform: scale(1.6) translateY(-20px);
  overflow: hidden;
  background-position: center;
  z-index: 1;
  position: sticky;
  // animation: 1s fadein 0.3s forwards;
}

// .tweak{
//     transform: translateY(-65px) scale(1.05)  ;
// }
//
//
// .poke{
//     transform: scale(1.45) translateY(-25px) ;
// }
//
// .kean{
//     transform: scale(1.2) translateY(-30px) ;
// }


// @media only screen and (max-width: 1345px) and (min-width: 1195px)  {
//   .kean{
//       transform: scale(1.5);
//   }
//   .tweak{
//       transform: scale(1.2) translateY(-50px) ;
//   }
//   .poke{
//       transform: scale(1.55) translateY(-15px) ;
//   }
// }




// @media only screen and (max-width: 1610px) and (min-width: 1485px)  {
//   .tracker{
//     transform: scale(2);
//   }
// }
//
//
// @media only screen and (max-width: 1099px) and (min-width: 1038px)  {
//   .tracker{
//     transform: scale(2);
//   }
// }











@media only screen and (max-width: 940px) and (min-width: 750px)  {
  .kean{
      transform: scale(1.5)  translateY(-50px) ;
  }
  .tweak{
      transform: scale(1.5) translateY(-10px) ;
  }

  .image{
      transform: scale(1.5) translateY(20px) ;
  }

}


//FOR MOBILE
// @media only screen and (max-width: 500px)  {
//   .kean{
//       transform: scale(1.6);
//   }
//   .tweak{
//       transform: scale(1.6) translateY(-40px);
//   }
//   .poke{
//       transform: scale(1.7);
//   }
// }





.project-desc:hover{

  .pic{
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    opacity: 0;
    transform: translateY(300px);
  }



  .desc{
    transition-duration: 0.5s;
    transform: translateY(80px);
  }

  .desc-title{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: translateY(80px);
    display: flex;
    justify-content: center;
    font-size: 30px;
  }


    .desc-title:hover{
      transition-duration: 0.2s;
      font-size: 35px;
      // transform: scale(1.1);
      color: black;
    }

  .desc-learn{
        transform: translateY(150px);
  }
}




// Animations



.effect {
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
 }

 .effect:hover {
   transition-duration: 1s;
     opacity: 0;
 }





 .effect1 {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }

  .effect1:hover {
    transition-duration: 1s;
  }
