
.desc-title{
  transform: translateY(-50px);
  font-weight: bold;
  color: white;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.learn_btn{
  width: 50%;
  display: inline;
  padding: 15px;


  font-weight: bold;
  color: white;
}


.learn_btn:hover{
  cursor: pointer;
}

.desc{
  padding: 10px;
  margin: 0;
  font-size: 22px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.desc-learn{
  display: block;
  color: white;

}



.desc-learn{
    transform: translateY(300px);
    text-align: center;
}

.project-desc{
  background-color: #F5F5F5;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  position: sticky;
  border-radius: 30px;
  margin: 50px;

  box-shadow: 3px 4px 2px 0px rgba(0,0,0,0.16);
  animation: 1s fadein 0.3s forwards;


}


.project-desc:hover{
   background-color: rgba(0,0,0, 0.6);
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(40vh, 1fr));
}


.pic{
  border-radius: 0;
  height: auto;
  width: auto;
  transform: scale(1.6) translateY(-40px);

  overflow: hidden;
  background-position: center;
  z-index: 0;
  position: sticky;
  opacity: 1;
  // filter: brightness(75%) grayscale(10%);
  // filter: brightness(95%) grayscale(10%);
}






.project-desc:hover{
  .pic{
    filter: blur(5px)  grayscale(100%);
  }

}




@media only screen and (max-width: 1540px) and (min-width: 680px)  {

  .project-desc{
      margin: 10px;
  }

}







.project-desc:hover{

    transition-duration: 0.5s;
    box-shadow: 5px 7px 5px 2px rgba(0,0,0,0.16);
    color: white;
    font-size: 1.7vh;
    text-align: center;

  .pic{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    opacity: 1;
    z-index: -5;
    filter: blur(5px) grayscale(100%);
    opacity: 0.4;
  }



  .desc{
    transform: translateY(80px);
    opacity: 1;
  }

  .desc-title{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: translateY(80px);
    display: flex;
    justify-content: center;
    font-size: 30px;
  }



  .desc-title:hover{
    color: white;
  }

  .desc-learn{
        transform: translateY(150px);
  }

  .learn_btn{
    font-size: 1.5vh;
  }
  .learn_btn:hover{
    transition-duration: 0.5s;
    opacity: 0.9;

  }

}




// Animations



.effect {
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     transition: all 0.5s ease;
 }

 .effect:hover {
   transition-duration: 1s;
     opacity: 0;
 }





 .effect1 {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  // .effect1:hover {
  //   transition-duration: 1s;
  // }



    @media only screen and (max-width: 945px){

    .project-desc{
      margin: 20px;
      // max-height: 150px;
      min-height: 200px;
      margin-bottom: 50px;
    }

    .project-grid{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40vh, 4fr));
    }

    .pic{
      filter: brightness(75%) grayscale(10%);
    }

    .desc-title{
      font-size: 12px;
    }



    .project-desc:hover{

      .desc-title{
        transform: translateY(50px);
      }
      .desc{
        transform: translateY(150%);
      }
      .desc-learn{
        font-size: 16px;
      }

    }



  }


.codepen{
  // background-color: lightgrey;
  // border-radius: 20px;
  text-align: center;
  color: grey;
}

.additional_code_item a{
  font-size: 14px;
  color: grey;
}

.additional_code_item:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.additional_code{
  display: flex;
  justify-content: center;
}


  @media only screen and (max-width: 740px){
    .project-grid{
      display: grid;
      grid-template-columns: repeat(1, minmax(40vh, 4fr));
    }

  }




  /* ANIMATIONS */


  ul > div:nth-child(1){
    animation: 0.25s fadein 0.3s forwards;
    /* opacity: 0; */
  }

  ul > div:nth-child(2){
    animation: 1s fadein 0.3s forwards;
    /* opacity: 0; */
  }

  ul > div:nth-child(3){
    animation: 1.5s fadein 0.3s forwards;
    /* opacity: 0; */
  }

  ul > div:nth-child(4){
    animation: 2s fadein 0.3s forwards;
    /* opacity: 0; */
  }



  @keyframes fadein {
    100%{
      margin-top: 0px;
      opacity: 1;
    }
  }
